@import "tailwindcss";

@theme {
  --font-Sans: "Google Sans", sans-serif;

  --color-dark: #18181a;
  --color-light: #ffffff;

  --color-primary: #70ff4d;
  --color-primary-dark: #65f242;

  --color-gray: #828282;
  --color-darkgray: #1e1e20ff;
  --color-lightgray: #e4e4e4;

  --color-border: #18181a33;
  --color-border-light: #ffffff40;

  --color-text: #18181ab3;
  --color-text-light: #ffffffb3;
}

body {
  font-family: "Google Sans", sans-serif;
  background-color: var(--color-dark);
  color: var(--color-dark);
}

h1,
h2,
h3,
h4 {
  word-spacing: 5px;
}

.max-width {
  width: 1400px;
  margin: 0 auto;
}

.custom-span {
  font-size: 18px;
  color: var(--color-text-light);
}

.slick-slide {
  padding: 25px;
}

::-webkit-scrollbar {
  display: none;
}
